* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #71ff71;
}

section {
    background-color: #adcaad;
}

/*Header*/
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-image: url(../images/spacebar.jpg);
    background-attachment: center;
    background-position:5px;
    height: 110px;
    color: ##71ff71;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

header h1 {
    font-weight: bold;
    font-size: 64px;
    color: ##71ff71;
    margin: 0;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

header h2 {
    padding: 40px;
}
header a {
    text-decoration: none;
    color: #71ff71;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px #00000080;
}

header nav ul li a:hover {
    background: #a293ff;
    color: #024e76;
    padding: 5px;
    border-radius: 5px;
    text-shadow: none;
}
/*end header*/

/*About me*/

.info {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: center;
}

.about p {
    padding: 0 24px;
    font-size: 16px;
    color: #a293ff;
    height: 600px;
    text-align:left;
}
/*End about me*/

/*portfolio*/
.portfolio {
    height: 400px;
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio h2 {
    height: 200px;
    width: 100%;
    text-align: center;
}

.portfolio div img {

}