* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color:#9e9e99ce;
}

section {
    background-color: #adcaad;
}

/*Header*/
main {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    background-image: url(../images/spacebar.jpg);
    background-attachment: center;
    background-position:5px;
    height: 110px;
    color: #71ff71;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

main h1 {
    font-weight: bold;
    font-size: 64px;
    color: ##71ff71;
    margin: 0;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

main h2 {
    padding: 20px;
    color:#71ff71;
    font-size: 32px;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

main a {
    color: #71ff71;
}

main nav {
    margin: 7px 0;
}

main nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

main nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px #00000080;
}

main nav ul li a:hover {
    background: #a293ff;
    color: #024e76;
    padding: 5px;
    border-radius: 5px;
    text-shadow: none;
}
/*end header*/

/*aside*/
aside {
    padding: 20px 35px;
    display: flex;
    justify-content: flex-end; 
    height: 110px;
    color: #7173ff;
    text-shadow: 0 0 10px rgb(169, 207, 169);
    background-image: url(../images/timp-sunrise.jpg);
    background-size: cover;
    background-position-x: 45%;
    background-position-y: 58%;
}

aside h2 {
    padding: 35px 0;
    font-size:36px;
}
/*end aside*/

section {
    padding: 30px;
    background-color: lightgrey;
}

.section-title {
    font-size: 36px;
    color: #024e76;
    border-right: 4px solid #024e76;
    padding: 7px;
    height: 100%;
}


.section title h2 {
    border-right: 4px solid #a293ff;
    padding: 0 16px;
    height: 100%;
    color: #024e76;
}

/*About me*/

.bio {
    height: 500px;
    background-color: #9e9e99ce;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.bio-info {
    display: flex;
    flex-wrap: center;
    justify-content: space-around;
    align-items: center;
}


div img {
    height: 500px;
    flex: 12%;
    padding: 12px;
}

.info {
    font-size: 32px;
    color:#1f30c7;
    text-align: center;
    margin: 0 auto;
}
/*End about me*/

/*portfolio*/
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.main-project {
    width: 80%;

}
/*end portfolio*/

/*Contact me*/
.contacts {
    height: 500px;
    background-color: #9e9e99ce;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contacts h2 {
    font-weight: bold;
    font-size: 48px;
    color: ##71ff71;
    margin: 0;
    text-shadow: 0 0 10px rgb(169, 207, 169);
}

.contacts nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}
/*End contact me*/

/*media queries*/
@media screen and (max-width 980px) {
    main {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    main h1 {
        width: 100%;
        text-align: center;
    } 

    main nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
    }

    main nav ul li a {
        font-size: 20px;
    }

    aside {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    aside h2 {
        width: 100%;
        text-align:center;
    }

    .bio {
        flex: 1 100%;
    }

    .section-title {
        width: 80%;
    }

    .info p {
        text-align: center;
        justify-content:flex-start;
    }
}